{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="w-4/5 m-auto pt-40 text-center">
        <h1 class="text-6xl text-center pb-12">
            Hello dear User
        </h1>
        <span class="font-light text-gray-500 italic">
            I created this site with the help of various courses. The main goal is to learn how to program in Symfony.
        </span>
        <h6 class="text-3xl text-left pb-12">
            About me
        </h6>
        <h6 class="text-3xl text-left pb-12">
            About web-service
        </h6>
        <h6 class="text-3xl text-left pb-12">
            and more information
        </h6>
    </div>

{% endblock %}
